@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APLIKACIJA ZA FAKTURISANJE</h1>
    <p class="lead">Ovo je aplikacija koja ce Vam pomoci da imate sve svoje fakture na jednom mestu! :)</p>
</div>
